html,body{
    height: 100vh;
    width:100%;
}
.bg{
    height:100vh;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#bg1{
    height:100vh;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}